body {
    padding-top: 56px;
}

.hero {
    background-color: #1c1a19;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 8% 0%;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons ul li {
    list-style-type: none;
}

.social-icons ul li a {
    color: #cfcfcf;
    font-size: 22px;
}

.intro h1 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #F55800;
}

.intro h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    color: #FFFFFF;
}

.intro p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
}

.side-image {
    position: absolute;
    background-image: url("images/Illustration-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    height: 100%;
    right: 0%;
}

.portfolio-line {
    border-top: 1px solid #212121;
    margin-top: 22px;
}

.card {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/img-placeholder-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 15px 25px 15px;
    margin: 15px 10px;
}

.card h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
}

.card p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    margin: 35px 0px;
}

.card ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.card ul li {
    list-style-type: none;
    margin-right: 20px;
}

.card ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
}

.stories-text h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091E42;
}

.stories-text p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091E42;
}

.stories-text ul {
    display: flex;
    margin: 40px 0;
    padding: 0;
}

.stories-text ul li {
    list-style-type: none;
    margin-right: 15px;
}

.stories-text ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #091E42;
    padding: 10px 12px;
    border: 1px solid #8993A4;
}

.about-text h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
}

.about-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
}

.about-side-image {
    background-image: url("images/illustration-about-me.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 360px;
    width: 49%;
    background-position: right center;
}

.about-line {
    border-top: 1px solid #fff;
}

.languages img {
    height: 20px;
    width: 20px;
}

.languages h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    color: #fff;
}

.languages ul {
    margin: 0;
    padding: 0;
}

.languages ul li {
    list-style-type: none;
    margin-top: 15px;
}

.languages ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
}
